<style>
  h4{
    background: #FFDEAD;
  }
</style>
<div class="" style="width: 40%; margin: 0 auto;">
  <div class="row">
    <div class="col">
      <h4 class="float-left font-weight-bold px-3 my-3 rounded-pill">
        <%= @room.dm_partner(current_user).name %> さんとのメッセージ
      </h4>
      <p class="text-right text-primary">※新規メッセージ順</p>
    </div>
  </div>
  <div class="scrollable-table">
    <table class="table table-borderless border">
      <% @dms.order(created_at: :desc).each do |dm| %>
        <tr class="col-md-12">
          <% if dm.user_id != current_user.id %>
            <td class="col-md-12 text-left row">
              <%= image_tag dm.room.dm_partner(current_user).image, class: "round-img"%>
              <div>
                <span class="text-info"><%= dm.created_at.strftime("%Y/%m/%d %H:%M") %></span><br>
                <%= dm.message %>
              </div>
            </td>
          <% else %>
            <td class="col-md-12 text-right">
              <span class="text-info"><%= dm.created_at.strftime("%Y/%m/%d %H:%M") %></span><br>
              <%= dm.message %>
              <%= link_to "削除", user_room_dm_path(room_id: dm.room_id, id: dm), method: :delete, data: { confirm: "本当に削除してよろしいですか？" }, class: 'btn btn-sm btn-danger' %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <%= form_with url: user_room_dms_path(current_user.id, @room.id), method: :post, local: false do |f| %>
    <div style="display: flex;">
      <%= f.text_area :message, rows:'5', placeholder: "メッセージを入力", style: "width: 93%; height: 50px;"%>
      <%= button_tag type: "submit", style: "width: 7%;  border: 1px solid #FFA07A; background-color: #FFA07A;"  do %>
       <i style="color: white;"class="fa-regular fa-paper-plane"></i>
      <% end %>
    </div>
  <% end %>
  <%= link_to "マイページに戻る", user_path(@user), class: 'btn btn-secondary mt-5' %>
</div>
