<div class="col-md-12 border_right border_left d-flex flex-column justify-content-between vh-100">
  <div class="flex align-items-center py-2">
    <%= link_to root_path, class: "text-dark" do %>
      <i class="fa-solid fa-arrow-left arrow-left"></i>
    <% end %>
    <div class="profile_top_name"></div>
    <h3>
      <%= @another_entry.user.name %>
        | さんとのメッセージ
    </h3>
  </div>

  <div class="chat-body p-3 flex-grow-1 overflow-auto">
    <% @messages.each do |m| %>
      <% if m.user_id == current_user.id %>
        <div class="flex justify-content-end mb-3">
          <div class="mycomment p-2 rounded d-inline-block">
            <%= m.message %>
          </div>
        </div>
      <% else %>
        <div class="flexjustify-content-start mb-3">
          <div class="fukidasi d-flex">
            <div class="faceicon">
              <%= image_tag m.user.icon, class: "message_icon_img mr-2" %>
            </div>
            <div class="chatting p-2 rounded bg-light d-inline-block">
              <div class="says">
                <%= m.message %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="chat-form-box p-3">
    <%= form_for @message do |f| %>
      <div class="chat-form-group d-flex">
        <%= f.text_field :message, class: "form-control mr-2 flex-grow-1" %>
        <%= f.number_field :room_id, value: @room.id, hidden: true %>
        <%= f.submit "送信", class: "btn message_submit" %>
      </div>
    <% end %>
  </div>
</div>