<style>
  h4{
    background: #FFDEAD;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="float-left font-weight-bold px-3 my-3"><%= @user.name %>さんの会員詳細</h4>
    </div>
  </div>
  <div class="row">
    <div class = "offset-2 float-center col-6">
      <table class="table table-borderless">
        <tr>
          <th>会員ID</th>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <th>名前</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>コメント</th>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td>
            <% if @user.is_active == true %>
              <p class="text-success font-weight-bolder">有効</p>
            <% else %>
              <p class="text-secondary font-weight-bolder">退会</p>
            <% end %>
          </td>
        </tr>
      </table>
      <div class="text-center">
        <%= link_to "編集する", edit_admin_user_path(@user.id), class: "btn btn-success rounded px-4 my-4" %>&emsp;
        <%= link_to "投稿一覧", foodindex_admin_user_path(@user), class: "btn btn-primary rounded px-4 my-4" %>
      </div>
    </div>
  </div>
  <%= link_to "戻る", admin_users_path, class: 'btn btn-secondary mt-5' %>
</div>
