<div class="row">
  <table class="table table-borderless">
    <tr>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <td><%= user.introduction %></td>
    </tr>
    <tr>
      <th>フォロー中</th>
      <th><%= link_to user.followings.count, user_followings_path(user) %></th>
    </tr>
    <tr>
      <th>フォロワー</th>
      <th><%= link_to user.followers.count, user_followers_path(user) %></th>
    </tr>
  </table>
</div>

<div class = "row" >
  <% if current_user == user %>
    <%= link_to edit_user_path(user), class: 'btn btn-outline-secondary btn-block' do %>
    <i class="fa-solid fa-user-gear"></i>
    <% end %>
  <% else %>
    <td id="relationship_btn_<%= user.id %>">
      <%= render "public/relationships/followbtn", user: user, options: { class: ""} %>
    </td>
  <% end %>
</div>